*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libs/MobCommons-2016.0816.1507.jar
libs/MobTools-2016.0816.1507.jar
src/main/java/cn/com/zhiwoo/adapter/consult/
src/main/java/cn/com/zhiwoo/bean/base/
src/main/java/cn/com/zhiwoo/view/Tour/
src/main/java/cn/com/zhiwoo/view/home/
src/main/res/anim/lesson_buy_dialog_enter.xml
src/main/res/anim/lesson_buy_dialog_exit.xml
src/main/res/drawable-hdpi/last_lesson.png
src/main/res/drawable-hdpi/media_list_background.png
src/main/res/drawable-hdpi/next_lesson.png
src/main/res/drawable-hdpi/pause_icon.png
src/main/res/drawable-hdpi/play_icon.png
src/main/res/drawable-hdpi/playing_background.png
src/main/res/drawable/media_consult_btn_shape.xml
src/main/res/layout/lesson_buy_dialog_layout.xml
